
{% extends 'base.html' %}

{% block content %}
<h2> Upload a product </h2>
{% if error %}
{{error}} <br/>
{% endif %}

<form method = "POST" action = "{% url 'create' %}" enctype = "multipart/form-data">
{% csrf_token %}

Title<br/>

<input type = "text" name = "title"/>
<br/>
Body <br/>

<input type = "textbox" name = "body"/>
<br/>
URL <br/>

<input type = "text" name = "url"/>
<br/>
Icon<br/>

<input type = "file" name = "icon"/>
<br/>
Image <br/>

<input type = "file" name = "image"/>
<br/>
<br/>

<input type = "submit" value = "Add Product" class = "btn btn-primary"/>
</form>
{% endblock %}

